trigger:
  branches:
    include:
      - main
      - develop

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

jobs:
  - job: execute_tests
    displayName: 'Run Test Automation'
    
    steps:
      - task: Bash@3
        displayName: 'Prepare Environment'
        inputs:
          targetType: 'inline'
          script: |
            sudo apt-get update
            wget -q https://github.com/allure-framework/allure2/releases/download/2.35.1/allure-2.35.1.tgz
            sudo rm -rf /opt/allure-2.35.1
            sudo tar -xzf allure-2.35.1.tgz -C /opt/
            sudo rm -f /usr/bin/allure
            sudo ln -s /opt/allure-2.35.1/bin/allure /usr/bin/allure
            allure --version
      
      - task: Maven@4
        displayName: 'Running Tests'
        inputs:
          mavenPomFile: 'pom.xml'
          goals: 'clean test'
          options: '-DsuiteXmlFile=testng.xml'
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.21'
          mavenVersionOption: 'Default'
        continueOnError: true       
      
      - task: Bash@3
        displayName: 'Generate Allure Report'
        inputs:
          targetType: 'inline'
          script: |
            allure generate allure-results --clean -o allure-report
        condition: always()        
      
      - task: PublishBuildArtifacts@1
        displayName: 'Publish Allure Report Artifact'
        inputs:
          PathtoPublish: 'allure-report'
          ArtifactName: 'allure-report'
          publishLocation: 'Container'
        condition: always()
      
      - task: PublishAllureReport@1
        displayName: 'Publish Allure Report to Azure DevOps'
        inputs:
          reportDir: 'allure-results'
        condition: always()