trigger:
  branches:
    include:
      - main
      - develop

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

variables:
  JAVA_HOME: '/usr/lib/jvm/msopenjdk-17'
  ALLURE_VERSION: '2.35.1'

steps:
  - task: Maven@4
    displayName: 'Verify Maven and Java'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'help:effective-pom'

  - script: |
      sudo apt-get update
      wget -q https://github.com/allure-framework/allure2/releases/download/$(ALLURE_VERSION)/allure-$(ALLURE_VERSION).tgz
      tar -xzf allure-$(ALLURE_VERSION).tgz
      sudo mv allure-$(ALLURE_VERSION) /opt/allure
      sudo ln -s /opt/allure/bin/allure /usr/bin/allure
      allure --version
    displayName: 'Install Allure CLI'

  - task: Maven@4
    displayName: 'Run Playwright Tests'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      options: '-DsuiteXmlFile=testng.xml -Dheadless=true -Dparallel=methods'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.17'
      mavenVersionOption: 'Default'
    continueOnError: true

  - script: |
      echo "Generating Allure report..."
      allure generate target/allure-results --clean -o target/allure-report
    displayName: 'Generate Allure report'
    condition: always()

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Allure Report'
    inputs:
      PathtoPublish: 'target/allure-report'
      ArtifactName: 'allure-report'
      publishLocation: 'Container'
    condition: always()

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      mergeTestResults: true
      testRunTitle: 'Playwright Java UI Tests'
    condition: always()
