trigger:
  branches:
    include:
      - main
      - develop

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

jobs:
  - job: execute_tests
    displayName: 'Run Playwright Tests with Allure Report'
    continueOnError: false

    steps:
      - checkout: self

      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: |
            sudo apt-get update -y
            sudo apt-get install -y openjdk-21-jdk wget unzip
            java -version

      - task: NodeTool@0
        inputs:
          versionSpec: '20.x'
        displayName: 'Install Node.js'

      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: |
            npm install -g playwright
            playwright install

      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: |
            wget -q https://github.com/allure-framework/allure2/releases/download/2.35.1/allure-2.35.1.tgz
            sudo tar -xzf allure-2.35.1.tgz -C /opt/
            sudo ln -sf /opt/allure-2.35.1/bin/allure /usr/bin/allure
            allure --version

      - task: Maven@4
        inputs:
          mavenPomFile: 'pom.xml'
          goals: 'clean test'
          options: '-DsuiteXmlFile=testng.xml -Dheadless=true -Dmaven.test.failure.ignore=true'
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.21'

      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: |
            if [ -d "allure-results" ]; then
              allure generate allure-results --clean -o allure-report
            fi
        condition: always()

      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'allure-report'
          ArtifactName: 'AllureReport'
          publishLocation: 'Container'
        condition: always()
